<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25D5087f</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>isgd Shortener for Safari Extension</string>
	<key>CFBundleExecutable</key>
	<string>isgd Shortener for Safari Extension</string>
	<key>CFBundleIdentifier</key>
	<string>tw.lavottriplife.isgd-Shortener.SafariExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>isgd Shortener for Safari Extension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C57</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C57</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2620</string>
	<key>DTXcodeBuild</key>
	<string>17C52</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.5</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>isgd_Shortener_for_Safari_Extension.SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>script.js</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Popover</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>ToolbarItemIcon.pdf</string>
			<key>Label</key>
			<string>isgd Shortener</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>example.com</string>
			</array>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>This is isgd Shortener for Safari Extension. You should tell us what your extension does here.</string>
</dict>
</plist>
